<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Survival-Analysis-of-Adverse-Regime-Changes:" data-toc-modified-id="Survival-Analysis-of-Adverse-Regime-Changes:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Survival Analysis of Adverse Regime Changes:</a></span></li><li><span><a href="#Imports-and-reading-in-data" data-toc-modified-id="Imports-and-reading-in-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Imports and reading in data</a></span><ul class="toc-item"><li><span><a href="#Notes:" data-toc-modified-id="Notes:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Notes:</a></span><ul class="toc-item"><li><span><a href="#Columns-to-drop:" data-toc-modified-id="Columns-to-drop:-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Columns to drop:</a></span></li><li><span><a href="#Columns-to-engineer:" data-toc-modified-id="Columns-to-engineer:-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Columns to engineer:</a></span></li></ul></li><li><span><a href="#Dropping-columns:" data-toc-modified-id="Dropping-columns:-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Dropping columns:</a></span></li></ul></li><li><span><a href="#Focusing-on-duration" data-toc-modified-id="Focusing-on-duration-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Focusing on duration</a></span><ul class="toc-item"><li><span><a href="#Creating-'time_begin'-and-'time_end'-features" data-toc-modified-id="Creating-'time_begin'-and-'time_end'-features-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Creating 'time_begin' and 'time_end' features</a></span></li><li><span><a href="#Data-spans-1952-03-01-to-2018-12-01---TBD:-More-EDA" data-toc-modified-id="Data-spans-1952-03-01-to-2018-12-01---TBD:-More-EDA-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Data spans 1952-03-01 to 2018-12-01 - TBD: More EDA</a></span></li><li><span><a href="#Making-a-DF-of-just-the-first-country" data-toc-modified-id="Making-a-DF-of-just-the-first-country-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Making a DF of just the first country</a></span><ul class="toc-item"><li><span><a href="#Trimming-of-non-numerical-features" data-toc-modified-id="Trimming-of-non-numerical-features-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Trimming of non-numerical features</a></span></li></ul></li><li><span><a href="#Adding-earliest-date-in-dataframe-to-beginning-of-AFG-time-series" data-toc-modified-id="Adding-earliest-date-in-dataframe-to-beginning-of-AFG-time-series-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Adding earliest date in dataframe to beginning of AFG time series</a></span></li><li><span><a href="#--How-would-I-forward-fill-and-backfill-these-values-given-there's-years-and-years-of-no-events-occurring(so-0s-in-MAGFAIL,-MAGCOL,-MAGVIOL,-MAGAVE,-etc.)" data-toc-modified-id="--How-would-I-forward-fill-and-backfill-these-values-given-there's-years-and-years-of-no-events-occurring(so-0s-in-MAGFAIL,-MAGCOL,-MAGVIOL,-MAGAVE,-etc.)-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>- How would I forward fill and backfill these values given there's years and years of no events occurring(so 0s in MAGFAIL, MAGCOL, MAGVIOL, MAGAVE, etc.)</a></span></li></ul></li><li><span><a href="#A-possible-solution-with-expanded-dataframe" data-toc-modified-id="A-possible-solution-with-expanded-dataframe-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>A possible solution with expanded dataframe</a></span></li><li><span><a href="#Geographical-plotting-test---just-the-most-turbulent-year" data-toc-modified-id="Geographical-plotting-test---just-the-most-turbulent-year-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Geographical plotting test - just the most turbulent year</a></span></li><li><span><a href="#Survival-analysis---TO-DO:-By-country/region" data-toc-modified-id="Survival-analysis---TO-DO:-By-country/region-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Survival analysis - TO DO: By country/region</a></span><ul class="toc-item"><li><span><a href="#First-converting-time_begin-and-time_end-to-accepted-Lifelines-format" data-toc-modified-id="First-converting-time_begin-and-time_end-to-accepted-Lifelines-format-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>First converting time_begin and time_end to accepted Lifelines format</a></span></li><li><span><a href="#Kaplan-Meier-Fitter" data-toc-modified-id="Kaplan-Meier-Fitter-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Kaplan Meier Fitter</a></span><ul class="toc-item"><li><span><a href="#Plotting-results-in-months" data-toc-modified-id="Plotting-results-in-months-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span>Plotting results in months</a></span></li></ul></li><li><span><a href="#NelsonAalenFitter-for-cumulative-hazard-function" data-toc-modified-id="NelsonAalenFitter-for-cumulative-hazard-function-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>NelsonAalenFitter for cumulative hazard function</a></span></li></ul></li><li><span><a href="#TO-DO:-implementing-right/left-censorship-of-birth/death-events-via.-groupby-country-and-time-resampling" data-toc-modified-id="TO-DO:-implementing-right/left-censorship-of-birth/death-events-via.-groupby-country-and-time-resampling-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>TO DO: implementing right/left censorship of birth/death events via. groupby country and time resampling</a></span></li><li><span><a href="#Geographic-plotting" data-toc-modified-id="Geographic-plotting-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Geographic plotting</a></span></li></ul></div>

# Survival Analysis of Adverse Regime Changes: 
- Dataset available at: http://www.systemicpeace.org/inscrdata.html
- Utilizing the fantastic Lifelines package for Survival Analysis and adapting examples from https://lifelines.readthedocs.io/en/latest/index.html
- Beginning EDA and survival analysis towards a study of regime changes' effects on the global market

# Imports and reading in data

In [1]:
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_excel('PITF Adverse Regime Change 2018.xls', index_col=None) 

df

,COUNTRY,SCODE,CCODE,YEAR,MOBEGIN,YRBEGIN,MOEND,YREND,PTYPE,MAGFAIL,MAGCOL,MAGVIOL,MAGAVE,DESC,POLITYX,DESC2
0,Afghanistan,AFG,700,1978,4,1978,12,1979,3,2,1,4,2.5,In the wake of unrest stemming from the assass...,REV,1.0
1,Afghanistan,AFG,700,1979,4,1978,12,1979,3,2,1,4,2.5,NaN,NaN,NaN
2,Afghanistan,AFG,700,1992,4,1992,9,1996,3,4,1,4,3.0,Soviet-supported Najibullah regime falls after...,REV,1.0
3,Afghanistan,AFG,700,1993,4,1992,9,1996,3,4,1,4,3.0,NaN,NaN,NaN
4,Afghanistan,AFG,700,1994,4,1992,9,1996,3,4,1,4,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,Zambia,ZAM,551,1970,8,1968,12,1972,3,1,3,2,2.0,NaN,NaN,NaN
349,Zambia,ZAM,551,1971,8,1968,12,1972,3,1,3,2,2.0,NaN,NaN,NaN
350,Zambia,ZAM,551,1972,8,1968,12,1972,3,1,3,2,2.0,NaN,NaN,NaN
351,Zambia,ZAM,551,1996,11,1996,11,1996,3,1,2,1,1.5,Constitutional amendments in May 1996 disquali...,-5,1.0
352,Zimbabwe,ZIM,552,1987,12,1987,12,1987,3,1,3,2,2.0,Ethnic tensions and crackdown on political opp...,-7,1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   COUNTRY  353 non-null    object
 1   SCODE    353 non-null    object
 2   CCODE    353 non-null    int64
 3   YEAR     353 non-null    int64
 4   MOBEGIN  353 non-null    int64
 5   YRBEGIN  353 non-null    int64
 6   MOEND    353 non-null    int64
 7   YREND    353 non-null    int64
 8   PTYPE    353 non-null    int64
 9   MAGFAIL  353 non-null    int64
 10  MAGCOL   353 non-null    int64
 11  MAGVIOL  353 non-null    int64
 12  MAGAVE   353 non-null    float64
 13  DESC     136 non-null    object
 14  POLITYX  136 non-null    object
 15  DESC2    136 non-null    float64
dtypes: float64(2), int64(10), object(4)
memory usage: 44.2+ KB

In [4]:
eda_df = df.copy()

In [5]:
from pandas_profiling import ProfileReport
profile = ProfileReport(eda_df, title="Pandas Profiling Report")

In [6]:
# profile.to_widgets()

## Notes:
- PTYPE has Constant Value "3" 
- DESC is missing along with POLITYX and DESC2 in 217 rows, this is due to (consulting the codebook) these cells only being filled in the case of the first year of a multiyear event
- Somalia is an outlier in occurrences, but is that total distinct regime changes or years under regime change?
- 1990s are common years, a hot trend to have adverse regime changes in the 1990s
- A lot of ending and beginning in the first month and last month of the year, pointing to how this was coded?
- Should do distributions of MAG columns at least
- Drop for now

### Columns to drop:
- PTYPE constant value
- DESC2 can be dropped as redundant to DESC
- SCODE is redundant to COUNTRY as is CCODE
- Drop DESC for now, can examine with NLP later

### Columns to engineer:
- YEAR needs to be resampled to Daily data somehow 
    - (groupby country --> resample with fill and inserts?)
- YR and MO BEGIN AND END can be made into time beginning and time ending
- MAGCOL, VIOL, FAIL, AVE need to be 
    - Interpolated
- POLITYX is Unsupported 
    - Needs to be recoded
    - Check what the values mean in codebook
    - And filled where NaN

In [7]:
eda_df.POLITYX.value_counts()

SF     26
-14    13
-9     12
-7     10
-15    10
-10     9
REV     9
-5      8
-11     8
-12     8
DIS     6
-6      5
-8      5
-13     5
-16     1
-18     1
Name: POLITYX, dtype: int64

## Dropping columns:

In [8]:
eda_df = eda_df.drop(['PTYPE', 'DESC2', "SCODE", "CCODE", "DESC"],axis=1)

eda_df.columns

Index(['COUNTRY', 'YEAR', 'MOBEGIN', 'YRBEGIN', 'MOEND', 'YREND', 'MAGFAIL',
       'MAGCOL', 'MAGVIOL', 'MAGAVE', 'POLITYX'],
      dtype='object')

# Focusing on duration
- Time of beginning and end of regime change through YRBEGIN, YREND, MOBEGIN, MOEND features are of key interest

## Creating 'time_begin' and 'time_end' features
- These capture both month and year as Pandas datetime features
- Problem: Always set to first day of month

In [9]:
eda_df['time_begin'] = pd.to_datetime((eda_df['YRBEGIN'].astype(str)  + "-" +eda_df['MOBEGIN'].astype(str)), format='%Y-%m', errors="coerce")
eda_df['time_end'] = pd.to_datetime((eda_df['YREND'].astype(str)  + "-" +eda_df['MOEND'].astype(str)),  errors='coerce')
eda_df['YEAR'] = pd.to_datetime(eda_df['YEAR'].astype(str), errors="coerce")
eda_df.head(10)

,COUNTRY,YEAR,MOBEGIN,YRBEGIN,MOEND,YREND,MAGFAIL,MAGCOL,MAGVIOL,MAGAVE,POLITYX,time_begin,time_end
0,Afghanistan,1978-01-01,4,1978,12,1979,2,1,4,2.5,REV,1978-04-01,1979-12-01
1,Afghanistan,1979-01-01,4,1978,12,1979,2,1,4,2.5,NaN,1978-04-01,1979-12-01
2,Afghanistan,1992-01-01,4,1992,9,1996,4,1,4,3.0,REV,1992-04-01,1996-09-01
3,Afghanistan,1993-01-01,4,1992,9,1996,4,1,4,3.0,NaN,1992-04-01,1996-09-01
4,Afghanistan,1994-01-01,4,1992,9,1996,4,1,4,3.0,NaN,1992-04-01,1996-09-01
5,Afghanistan,1995-01-01,4,1992,9,1996,4,1,4,3.0,NaN,1992-04-01,1996-09-01
6,Afghanistan,1996-01-01,4,1992,9,1996,2,1,2,1.5,NaN,1992-04-01,1996-09-01
7,Afghanistan,2001-01-01,11,2001,6,2002,4,1,4,3.0,SF,2001-11-01,2002-06-01
8,Afghanistan,2002-01-01,11,2001,6,2002,4,1,4,3.0,NaN,2001-11-01,2002-06-01
9,Albania,1996-01-01,5,1996,5,1996,1,3,1,1.5,-5,1996-05-01,1996-05-01

- Dropping source beginning and end date columns

In [10]:
eda_df = eda_df.drop(['MOBEGIN','YRBEGIN','MOEND','YREND'],axis=1)

eda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COUNTRY     353 non-null    object
 1   YEAR        353 non-null    datetime64[ns]
 2   MAGFAIL     353 non-null    int64
 3   MAGCOL      353 non-null    int64
 4   MAGVIOL     353 non-null    int64
 5   MAGAVE      353 non-null    float64
 6   POLITYX     136 non-null    object
 7   time_begin  353 non-null    datetime64[ns]
 8   time_end    334 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(3), object(2)
memory usage: 24.9+ KB

## Data spans 1952-03-01 to 2018-12-01 - TBD: More EDA

In [11]:
eda_df.time_begin.min()

Timestamp('1952-03-01 00:00:00')

In [12]:
eda_df.time_end.max()

Timestamp('2018-12-01 00:00:00')

In [13]:
eda_df['event_oc'] = 1

eda_df.head()

,COUNTRY,YEAR,MAGFAIL,MAGCOL,MAGVIOL,MAGAVE,POLITYX,time_begin,time_end,event_oc
0,Afghanistan,1978-01-01,2,1,4,2.5,REV,1978-04-01,1979-12-01,1
1,Afghanistan,1979-01-01,2,1,4,2.5,NaN,1978-04-01,1979-12-01,1
2,Afghanistan,1992-01-01,4,1,4,3.0,REV,1992-04-01,1996-09-01,1
3,Afghanistan,1993-01-01,4,1,4,3.0,NaN,1992-04-01,1996-09-01,1
4,Afghanistan,1994-01-01,4,1,4,3.0,NaN,1992-04-01,1996-09-01,1

## Making a DF of just the first country

In [151]:
afg_df = eda_df[eda_df['COUNTRY'] == "Afghanistan"]

afg_df.head(10)

,COUNTRY,YEAR,MAGFAIL,MAGCOL,MAGVIOL,MAGAVE,POLITYX,time_begin,time_end,event_oc
0,Afghanistan,1978-01-01,2,1,4,2.5,REV,1978-04-01,1979-12-01,1
1,Afghanistan,1979-01-01,2,1,4,2.5,NaN,1978-04-01,1979-12-01,1
2,Afghanistan,1992-01-01,4,1,4,3.0,REV,1992-04-01,1996-09-01,1
3,Afghanistan,1993-01-01,4,1,4,3.0,NaN,1992-04-01,1996-09-01,1
4,Afghanistan,1994-01-01,4,1,4,3.0,NaN,1992-04-01,1996-09-01,1
5,Afghanistan,1995-01-01,4,1,4,3.0,NaN,1992-04-01,1996-09-01,1
6,Afghanistan,1996-01-01,2,1,2,1.5,NaN,1992-04-01,1996-09-01,1
7,Afghanistan,2001-01-01,4,1,4,3.0,SF,2001-11-01,2002-06-01,1
8,Afghanistan,2002-01-01,4,1,4,3.0,NaN,2001-11-01,2002-06-01,1

In [150]:
len(afg_df)

9

### Trimming of non-numerical features

In [15]:
afg_df = afg_df.drop(["POLITYX", "time_begin","time_end"],axis=1)
afg_df = afg_df.set_index("YEAR")

afg_df

                COUNTRY  MAGFAIL  MAGCOL  MAGVIOL  MAGAVE  event_oc
YEAR
1978-01-01  Afghanistan        2       1        4     2.5         1
1979-01-01  Afghanistan        2       1        4     2.5         1
1992-01-01  Afghanistan        4       1        4     3.0         1
1993-01-01  Afghanistan        4       1        4     3.0         1
1994-01-01  Afghanistan        4       1        4     3.0         1
1995-01-01  Afghanistan        4       1        4     3.0         1
1996-01-01  Afghanistan        2       1        2     1.5         1
2001-01-01  Afghanistan        4       1        4     3.0         1
2002-01-01  Afghanistan        4       1        4     3.0         1

## Adding earliest date in dataframe to beginning of AFG time series
- This means adding latest date in dataframe to each series is possible, but:
##    - How would I forward fill and backfill these values given there's years and years of no events occurring(so 0s in MAGFAIL, MAGCOL, MAGVIOL, MAGAVE, etc.)

# A possible solution with expanded dataframe

In [21]:
#create copy of df at present state
group_df = eda_df.copy()

#drop non numeric columns
group_df = group_df.drop(["POLITYX", "time_begin","time_end"],axis=1)

# group by country into groupby object
group = group_df.groupby(["COUNTRY"])

In [152]:
from functools import reduce
grouped_dfs = []

#iterate over groupby objects' component dataframes
for k in group.groups.keys():
    #reference to dataframe
    gr = group.get_group(k)

    #append 1950 and 2019 as years
    gr = gr.append(pd.Series([k,'2019-01-01',0,0,0,0,0], index=gr.columns),ignore_index=True)
    gr.loc[-1] = [k, '1950-01-01', 0,0,0,0,0]  # adding a row
    gr.index = gr.index + 1  # shifting index
    gr.sort_index(inplace=True) #sorting index back to sequential years
    
    #setting index to datetime YEAR with AS(year start) freq, fill empty years with 0
    gr =gr.set_index("YEAR").asfreq('AS')
    gr = gr.fillna(0)
    
    #assign country as boolean instead of text variable with one hot encoding
    gr = pd.get_dummies(gr, columns=['COUNTRY'], prefix='', prefix_sep='')
    
    #dropping a weird column that comes up 
    gr = gr.drop('0', axis=1, errors='ignore')
    
    #renaming columns programmatically to not collide in merge, appending name of country to numerical vals
    gr.rename(columns = {'MAGFAIL':'MAGFAIL_'+k, "MAGCOL": "MAGCOL_"+k,"MAGAVE":"MAGAVE_"+k,"MAGVIOL": "MAGVIOL_"+k,
                         "event_oc": "event_oc_"+k}, inplace = True)
    gr = gr.reset_index()
    
    #add iterated df to dfs list
    grouped_dfs.append(gr)

#merge all dfs on YEAR and set index back to datetime 
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['YEAR'],
                                            how='outer'), grouped_dfs).set_index("YEAR")

In [153]:
df_merged

,MAGFAIL_Afghanistan,MAGCOL_Afghanistan,MAGVIOL_Afghanistan,MAGAVE_Afghanistan,event_oc_Afghanistan,Afghanistan,MAGFAIL_Albania,MAGCOL_Albania,MAGVIOL_Albania,MAGAVE_Albania,...,MAGVIOL_Zambia,MAGAVE_Zambia,event_oc_Zambia,Zambia,MAGFAIL_Zimbabwe,MAGCOL_Zimbabwe,MAGVIOL_Zimbabwe,MAGAVE_Zimbabwe,event_oc_Zimbabwe,Zimbabwe
YEAR,,,,,,,,,,,,,,,,,,,,,
1950-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
1951-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
1952-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
1953-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
1954-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
2016-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
2017-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
2018-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
2019-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0

In [154]:
df_merged = df_merged.resample("D").ffill()

df_merged

,MAGFAIL_Afghanistan,MAGCOL_Afghanistan,MAGVIOL_Afghanistan,MAGAVE_Afghanistan,event_oc_Afghanistan,Afghanistan,MAGFAIL_Albania,MAGCOL_Albania,MAGVIOL_Albania,MAGAVE_Albania,...,MAGVIOL_Zambia,MAGAVE_Zambia,event_oc_Zambia,Zambia,MAGFAIL_Zimbabwe,MAGCOL_Zimbabwe,MAGVIOL_Zimbabwe,MAGAVE_Zimbabwe,event_oc_Zimbabwe,Zimbabwe
YEAR,,,,,,,,,,,,,,,,,,,,,
1950-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
1950-01-02,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
1950-01-03,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
1950-01-04,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
1950-01-05,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-28,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
2018-12-29,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
2018-12-30,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
2018-12-31,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0
2019-01-01,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0

# Geographical plotting test - just the most turbulent year
- Code adapted from https://medium.com/datadriveninvestor/visualising-geospatial-data-with-python-d3b1c519f31

In [ ]:
# import folium
# import pandas as pd
# #Setting up the country co-ordinates
# country_geo = 'world-countries.json'

In [ ]:
# #looking for most common year to plot
# df.YEAR.value_counts()

In [ ]:
# crisis_year = 1996

# mask = df['YEAR'].isin([crisis_year])

# # apply our mask
# stage = df[mask]
# stage.head()

In [ ]:
# #Creating a data frame with just the country codes and the values we want plotted.
# data_to_plot = stage[['SCODE','MAGVIOL']]
# data_to_plot.head()

In [ ]:
# # Setup a folium map at a high-level zoom 
# map = folium.Map(location=[50, 0], zoom_start=1.25)

# # choropleth maps bind Pandas Data Frames and json geometries. 
# #This allows us to quickly visualize data combinations
# map.choropleth(geo_data=country_geo, data=data_to_plot,
#              columns=['SCODE', 'MAGVIOL'],
#              key_on='feature.id',
#              fill_color='BuPu', fill_opacity=0.7, line_opacity=0.2,
#              legend_name='Magnitude of Violence out of 4 involved in Adverse Regime Change Event')

# map.save('index.html')
# # Import the Folium interactive html file


# from IPython.display import HTML
# HTML('<iframe src=index.html width=700 height=450></iframe>')

# Survival analysis - TO DO: By country/region
## First converting time_begin and time_end to accepted Lifelines format

In [ ]:
# from lifelines.utils import datetimes_to_durations

# start_dates = dum_df['time_begin'].to_list()
# end_dates = dum_df['time_end'].to_list()

# T, E = datetimes_to_durations(start_dates, end_dates, freq="M")

In [ ]:
# start_dates

In [ ]:
# end_dates

## Kaplan Meier Fitter
- Estimate of the survival function, taking T as a random lifetime taken from population under study (time a couple is married, user time to enter a webpage - an infinite time if a user never does, etc.) that defines the probability of surviving past T
    - http://en.wikipedia.org/wiki/Kaplan%E2%80%93Meier_estimator

In [ ]:
# from lifelines import KaplanMeierFitter
# kmf = KaplanMeierFitter()
# kmf.fit(T, event_observed=E)

### Plotting results in months

In [ ]:
# kmf.survival_function_.plot()

- With confidence intervals

In [ ]:
# kmf.plot()
# plt.savefig("kmf_conf_plot.png")
# plt.show()

- Time at which 50% of regime changes will have ended

In [ ]:
# kmf.median_survival_time_

## NelsonAalenFitter for cumulative hazard function

In [ ]:
# from lifelines import NelsonAalenFitter
# naf = NelsonAalenFitter()

# naf.fit(T,event_observed=E)

In [ ]:
# print(naf.cumulative_hazard_.head())
# naf.plot()

# TO DO: implementing right/left censorship of birth/death events via. groupby country and time resampling

# Geographic plotting

In [ ]:
# it is a surprise tool that will be useful later meme goes here
# from folium.plugins import TimeSliderChoropleth